@import url("components/banner.css");
@import url("components/other.css");

body{
	background-color: white;
	color: black;
	font-family: helvetica;
	font-size: 18px;
	font-weight: lighter; 
}

h1{
	font-family: helvetica;
	text-decoration: none;
	color: white;
	font-size: 40px;
	background-color: #5C39C6;
	padding: 15px;
	border-radius: 3px;
	width: 520px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}
h2{
	color: black;
	font-size: 25px;
	font-weight: lighter;
	font-weight: 500;
}

h1,h2{
	font-family: helvetica;
}

a:hover{
	color: #5C39C6;
	background-color: white;
}
a{	
	font-family: helvetica;
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	background-color: #5C39C6;
	padding: 15px;
	border-radius: 3px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.container{
	width: 800px;
	margin: 50px auto;
}
.container{
	width: 800px;
	margin: 50px auto;
}

#last-text{
	margin-bottom: 50px;
}

.little-img{
	width: 160px;
	align-content: center;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.img-circle{
	border-radius: 50%;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	display: block;
    margin-left: auto;
    margin-right: auto
}
.img-bordered{
	border: 1px solid black;
	display: block;
    margin-left: auto;
    margin-right: auto
}